@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Regular.eot');
	src: local('Roboto'),url('../fonts/Roboto-Regular.woff2') format('woff2'), url('../fonts/Roboto-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Medium.eot');
	src: local('Roboto'),url('../fonts/Roboto-Medium.woff2') format('woff2'), url('../fonts/Roboto-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Bold.eot');
	src: local('Roboto'),url('../fonts/Roboto-Bold.woff2') format('woff2'), url('../fonts/Roboto-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}




/* Базовые стили (начало) */
*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  font-family: "Roboto", Arial, sans-serif;
  color: #283136;
}

a {
  color: inherit;
  text-decoration: none;
}


.container {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  padding-top: 12px;
  padding-right: 41px;
  padding-bottom: 12px;
  padding-left: 39px;

  text-transform: uppercase;
  color: #fff;

  transition: all 0.3s;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);

  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.button--red {
  background-color: #fb565a;
}

.button--red:hover,
.button--red:focus {
  background-color: #e74246;
}

.button--red:active {
  background-color: #d7373b;
}

.button--green {
  background-color: #00ca74;
}

.button--green:hover,
.button--green:focus {
  background-color: #00bc6c;
}

.button--green:active {
  background-color: #00aa62;
}

.button--yellow {
  background-color: #efc84a;
}

.button--yellow:hover,
.button--yellow:focus {
  background-color: #eab534;
}

.button--yellow:active {
  background-color: #e5a722;
}
/* Базовые стили (конец) */

/* Стили header (начало) */
.header {
  padding-top: 1px;
  padding-bottom: 1px;

  background-color: #eeeeee;
}

.nav {
  display: flex;
  align-items: flex-start;
  flex-basis: 798px;

  margin-top: 47px;
}

.nav__logo {
  flex-shrink: 0;
  flex-basis: 160px;
}

.nav__logo:hover,
.nav__logo:focus {
  opacity: 0.8;
}

.nav__logo:active {
  opacity: 0.3;
}

.nav__list {
  display: flex;
  flex-basis: 438px;
  justify-content: space-between;
  padding: 0;
  margin: 17px 0 0 201px;

  list-style: none;
}

.nav__link {
  display: block;
  padding: 10px 0 4px;
  line-height: 1.88;
  font-weight: 500;
  text-transform: uppercase;
  color: #000;
}

.nav__link:hover,
.nav__link:focus {
  color: #fb565a;
}

.nav__link:active {
  color: rgba(0, 0, 0, 0.3);
}

.nav__link.active {
  border-bottom: 2px solid #fb565a;
}

.nav__link--basket {
  margin-top: 18px;
  margin-left: auto;
}

.nav__link--basket::before {
  content: url(../img/basket-icon.svg);
  margin-right: 26px;
}
/* Стили header (конец) */

/* Стили секции slider (начало) */
.slider {
  background-color: #eeeeee;
}

.slider .container {
  position: relative;
}

.slider__navigation {
  position: absolute;
  bottom: 96px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.slider__navigation .dot {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  margin-right: 17px;

  background-color: #fff;
  border-radius: 50%;
}

.slider__navigation .dot:last-child {
  margin-right: 0;
}

.dot.active span {
  position: absolute;

  display: block;
  width: 8px;
  height: 8px;

  border: 3px solid #c1c1c1;
  border-radius: 50%;
}

.dot input[type="radio"] {
  position: absolute;

  opacity: 0;
}

.slider__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slide {
  display: none;
  padding-top: 67px;
  padding-bottom: 80px;

  background-position: right top;
  background-size: contain;
  background-repeat: no-repeat;
}

.slide.active {
  display: block;
}

.slide--first {
  background-image: url(../img/index/slide-1.png);
  background-position: right 30px top 0;
}

.slide--second {
  background-image: url(../img/index/slide-2.png);
}

.slide--third {
  background-image: url(../img/index/slide-3.png);
}

.slide__title {
  width: 100%;
  max-width: 515px;
  margin: 0;

  font-size: 55px;
  font-weight: 500;
  line-height: 1.1;
  color: #000;
}

.slide__text {
  width: 409px;
  max-width: 409px;
  margin-top: 20px;
  margin-bottom: 42px;
}

.slide__btn {
  padding-left: 53px;
  padding-right: 53px;

  color: #fff;

  background: #fb565a;

}

.slide__btn:hover,
.slide__btn:focus {
  background: #e74246;
}

.slide__btn:active {
  background-color: #d7373b;
}
/* Стили секции slider (конец) */

/* Стили секции advantages (начало) */
.advantages .container {
  padding-top: 80px;
  padding-bottom: 80px;

  border-bottom: 2px solid #efefef;
}

.advantages__list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.advantages__item {
  flex-shrink: 0;
  flex-basis: 300px;
  margin: 0 100px 0 0;
}
.advantages__item:last-child {
  margin-right: 0;
}
.advantage__title {
  margin: 17px 0;

  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.25;
  color: #000;
}
.advantage__text {
  width: 90%;
  margin-top: 17px;
  margin-bottom: 33px;
}
/* Стили секции advantages (конец) */

/* Стили секции studio (начало) */
.studio .container {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 80px;

  border-bottom: 2px solid #efefef;
}
.about {
  width: 100%;
  flex-basis: 650px;
}
.about__slogan {
  margin: 34px 0;
  font-size: 45px;
  font-weight: 500;
  line-height: 1;
  color: #000;
}
.about__subtitle {
  margin-top: 0;
  margin-bottom: 39px;
}
.about__title {
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
}
.about__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.about__item {
  margin-top: 24px;
}
.about__item::before {
  content: "";

  display: inline-block;
  width: 25px;
  height: 2px;
  margin-right: 8px;

  vertical-align: middle;

  background: #d7373b;
}
.indicators {
  width: 100%;
  flex-basis: 360px;
}
.indicators__title {
  margin-top: 30px;
  margin-bottom: 0;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  color: #000;
}
.indicators__list {
  display: flex;
  padding: 0;
  margin: 28px 0 0 0;
  list-style: none;
}
.indicators__item {
  width: 105px;
  margin-right: 14px;
  text-align: left;
  font-size: 45px;
  font-weight: bold;
  font-family: "Roboto";
  color: #000;
}
.indicators__item .percent {
  font-size: 26px;
}
.indicators__item span {
  display: block;
  margin-top: 10px;

  font-size: 16px;
  font-weight: normal;
  line-height: 1.13;
  color: #283136;
}
/* Стили секции studio (конец) */

/* Стили секции partners (начало) */
.partners .container {
  padding-top: 46px;
  padding-bottom: 44px;

  border-bottom: 2px solid #efefef;
}

.partners__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;

  list-style: none;
}
.partners__item {
  width: 100%;
  flex-basis: 210px;
}
.partner {
  opacity: 0.2;
  transition: opacity 0.3s;
}

.partner:hover,
.partner:focus {
  opacity: 1;
}

.partner:active {
  opacity: 0.1;
}
/* Стили секции partners (конец) */

/* Стили секции footer (начало) */
.footer__contact .container {
  position: relative;
  z-index: 9980;

  padding-top: 80px;
}
.information {
  position: absolute;

  width: 100%;
  max-width: 319px;
  margin-top: 54px;
  margin-bottom: 54px;
  padding: 35px 50px;

  box-sizing: border-box;
  background-color: #fff;
}
.information__title {
  margin-top: 0;
  margin-bottom: 23px;

  font-size: 18px;
  font-weight: bold;
  line-height: 1.67;
  text-transform: uppercase;
  color: #000;
}
.information__addr,
.information__tel {
  margin-bottom: 20px;

  line-height: 1.13;
  color: #666666;
}
.information__tel a {
  color: inherit;
}
.information__button {
  width: 100%;
  margin-top: 17px;
  padding-left: 0;
  padding-right: 0;

  text-align: center;

  background-color: #fb565a;
}
.information__button:active {
  background-color: #d7373b;
}
.footer__map {
  width: 100%;
  min-height: 430px;
}

.social {
  padding: 45px 0;
}
.social .container {
  display: flex;
}
.social__list {
  display: flex;
  flex-basis: 246px;
  align-items: center;
  padding: 0;
  margin: 0;

  list-style: none;
}
.social__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 79px;
  height: 79px;
  margin-right: 12px;
  padding: 0;

  border-radius: 50%;
  background: #e1e1e1;
}
.social__button:hover,
.social__button:focus {
  background-color: #e74246;
}
.social__button:active {
  background-color: #d7373b;
}
.social__button:active svg {
  opacity: 0.3;
}
.social__text {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 127px;

  font-size: 36px;
  font-weight: bold;
  line-height: 1;
  color: #000000;
}
.social__text span {
  display: inline-block;

  font-size: 16px;
  font-weight: normal;
  line-height: 1.38;
  color: #444444;
}

/* Стили секции footer (конец) */

/* Стили страницы каталога (начало) */
.catalog-page .header__title {
  margin: 72px 0 105px;
  font-size: 55px;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  color: #000;
}
.catalog-page > .container {
  display: flex;
  justify-content: space-between;
  padding: 34px 0 0;
}

.filter {
  width: 100%;
  max-width: 261px;
  flex-basis: 261px;
}

.filter ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


.group {
  border: none;
  padding: 0;
  margin: 0 0 25px;
}
.group__item--range {
  width: 100%;
}
.group__title {
  padding: 20px 0;

  font-size: 18px;
  font-weight: bold;
  line-height: 1.67;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #000000;
}

.price-slider {
  width: 100%;
  margin: 29px 0 20px;
  padding: 40px 20px;
  background-color: #eeeeee;
}
.price-slider .slider {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: #d7dcde;
}
.slider > .slider__range {
  position: absolute;
  width: 70%;
  height: 100%;
  background-color: #00aa62;
}
.slider__range > .slider__nav {
  position: relative;
  width: 100%;
  height: 2px;
}
.slider__nav > .range {
  position: absolute;
  width: 20px;
  height: 20px;
  margin-top: -10px;

  border: 8px solid #fff;
  border-radius: 50px;
  background: #d7dcde;
  cursor: pointer;
}

.filter__label--range {
  display: inline-block;
  text-transform: uppercase;
}

.filter__label--range:nth-child(2) {
   margin-right: 33px; /* Не пойму почему не работает */
}

.control {
  display: block;
  position: relative;
  padding-left: 40px;
  margin-bottom: 5px;
  padding-top: 0;
  padding-bottom: 9px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 0;
}
.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.control_indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 25px;
  width: 25px;
  background: #ffffff;
  border: 3px solid #4d4d4d;
  opacity: 0.4;
}
.control-radio .control_indicator {
  border-radius: 50%;
}

.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
  opacity: 1;
}
.control input:checked ~ .control_indicator {
  background: #ffffff;
}
.control input:disabled ~ .control_indicator {
  background: #e6e6e6;
  opacity: 0.1;
  pointer-events: none;
}
.control_indicator:after {
  box-sizing: unset;
  content: '';
  position: absolute;
  display: none;
}
.control input:checked ~ .control_indicator:after {
  display: block;
}
.control-radio .control_indicator:after {
  left: 6px;
  top: 6px;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  background: #4d4d4d;
}
.control-radio input:disabled ~ .control_indicator:after {
  background: #7b7b7b;
}


.filter__checkbox:not(:checked),
.filter__checkbox:checked {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}
.filter__checkbox:not(:checked) + .filter__label,
.filter__checkbox:checked + .filter__label {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    margin-bottom: 17px;
    display: inline-block;
    font-size: 16px;
    opacity: 0.4;
}
.filter__checkbox:not(:checked):hover + .filter__label:hover,
.filter__checkbox:checked:hover + .filter__label:hover,
.filter__checkbox:not(:checked):focus + .filter__label,
.filter__checkbox:checked:focus + .filter__label{
  opacity: 1;
}

.filter__checkbox:not(:checked) + .filter__label:before,
.filter__checkbox:checked + .filter__label:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 23px;
    height: 23px;
    border: 2px solid #4d4d4d;
    border-radius: 4px;
}

.filter__checkbox:not(:checked) + .filter__label:after,
.filter__checkbox:checked + .filter__label:after {
    content: '✔';
    position: absolute;
    top: -5px; left: 7px;
    font-size: 25px;
    line-height: 1.2;
    color: #4d4d4d;
    transition: all .2s;
}

.filter__checkbox:not(:checked) + .filter__label:after {
    opacity: 0;
    transform: scale(0);
}
.filter__checkbox:checked + .filter__label:after {
    opacity: 1;
    transform: scale(1.2);
}

.filter__checkbox:disabled:not(:checked) + .filter__label:before,
.filter__checkbox:disabled:checked + .filter__label:before {
    opacity: 0.3;
}

.range2 {
  right: 0;
}
.filter__price {
  width: 80px;
  text-align: center;
  color: #283136;
}

.filter__button {
  width: 100%;
  border: none;
  background-color: #eeeeee;
  color: #000000;
  cursor: pointer;
}
.filter__button:hover,
.filter__button:focus{
  background-color: #dfdfdf;
}
.filter__button:active {
  color: rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d5d5d5;
}


.catalog {
  width: 100%;
  max-width: 760px;
  flex-basis: 760px;
}

.catalog ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sorting {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-items: center;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.sorting__group {
  display: flex;
  font-size: 14px;
}
.sorting__item {
  margin-left: 26px;
  opacity: 0.3;
}
.sorting__item:hover {
  opacity: 0.6;
}
.sorting__item:active,
.sorting__item.active {
  opacity: 1;
}

.sorting__item--range {
  margin-left: 48px;
}

.sorting__item--range-up {
  margin-left: 18px;
  transform: rotate(180deg)
}

.products__list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.product {
  position: relative;

  width: 100%;
  max-width: 360px;
  flex-basis: 360px;
  margin-top: 63px;
  text-align: center;
  border: 1px solid rgba(0, 1, 1, 0.1);
}
.product:hover .product__card,
.product:focus .product__card {
  opacity: 1;
}
.product:hover::before {
  opacity: 1;
}
.product__img {
  width: 100%;

}

.product::before {
  content: url(../img/catalog/browser.png);
  position: absolute;
  top: -39px;
  opacity: 0.12;
  transition: opacity 0.3s;
}

.product__card {
  position: absolute;
  bottom: 0;
  z-index: 9999;
  opacity: 0;
  width: 100%;
  padding: 35px 58px 43px;
  background-color: #eee;
  transition: opacity 0.3s;
}
.product__title {
  margin: 0 0 10px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.67;
  text-transform: uppercase;
  color: #000000;
}

.product__title:hover,
.product__title:focus {
  color: #fb565a;
}

.product__title:active {
  color: rgba(0, 0, 0, 0.3);
}

.product__description {
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 1.13;
  color: #666666;
}

.product__button {
  background-color: #fb565a;
  width: 100%;
}

.product__button:hover,
.product__button:focus {
  background-color: #e74246;
}

.product__button:active {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
}

.catalog__navigation {
  margin-top: 60px;
}
.catalog__navigation .navigation {
  display: flex;
}
.navigation .navigation__link {
  display: block;
  padding: 20px;
  margin: 0 10px 0 0;

  font-size: 13.5px;
  font-weight: 500;
  line-height: 0.5;
  text-transform: uppercase;
  border: 3px solid #dbdbdb;
  background-color: #eeeeee;
}

.navigation__link:hover,
.navigation__link:focus {
  background-color: #dfdfdf;

}
.navigation__link:active {
  color: rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d5d5d5;
}

.navigation__link.active {
  background-color: #fff;
}

.navigation__link.navigation__link--next {
  padding: 20px 78px;
}
/* Стили страницы каталога (конец) */

/* Стили попапа (начало) */
.popup {
  position: fixed;
  bottom: 180px;
  z-index: 9999;

  display: none;
  width: 100%;
  max-width: 960px;
  margin: 0 25%;
  padding: 73px 100px;

  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0px 20px 40px 0 rgba(0, 1, 1, 0.75);
}
.popup.active {
  display: block;
}

.popup__title {
  margin: 0;

  font-size: 45px;
  font-weight: 500;
  line-height: 1;
  color: #000000;
}

.popup__form {
  margin-top: 50px;
}
.popup__group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 36px;
}
.popup__label,
.popup__imput,
.popup__textarea {
  display: block;
  box-sizing: border-box;
}
.popup__label {
  width: 100%;
  max-width: 360px;

  font-weight: bold;
  line-height: 1.13;
  color: #000000;
}
.popup__imput {
  width: 100%;
  max-width: 360px;
  margin-top: 12px;
  padding: 15px;

  box-sizing: border-box;
  border: solid 2px #d7dcde;
}

.popup__textarea {
  width: 100%;
  height: 118px;
  margin-top: 12px;
  padding: 15px;

  border: solid 2px #d7dcde;

  resize: none;
}
.popup__submit {
  margin-top: 47px;

  background-color: #fb565a;
  border: none;
}
.popup__close {
  position: absolute;
  top: 30px;
  right: 30px;

  background: transparent;
  border: none;
}
.popup__close svg {
  opacity: 0.3;
}
.popup__close:hover svg,
.popup__close:focus svg {
  opacity: 1;
}

.popup__close:active svg {
  opacity: 0.1;
}
.popup__textarea:hover,
.popup__imput:hover {
  border: solid 2px #b4b9bb;
}
.popup__textarea:focus,
.popup__imput:focus {
  color: #000;

  outline: none;
  border: solid 2px #000000;
}

.popup__textarea:invalid,
.popup__imput:invalid {
  color: #e74246;

  border: solid 2px #e74246;
  background: #fff;
}
/* Стили попапа (конец) */
