@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Regular.eot');
	src: local('Roboto'),url('../fonts/Roboto-Regular.woff2') format('woff2'), url('../fonts/Roboto-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Medium.eot');
	src: local('Roboto'),url('../fonts/Roboto-Medium.woff2') format('woff2'), url('../fonts/Roboto-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Bold.eot');
	src: local('Roboto'),url('../fonts/Roboto-Bold.woff2') format('woff2'), url('../fonts/Roboto-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

/* Базовые стили (начало) */
*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  font-family: "Roboto", Arial, sans-serif;
  color: #283136;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
  box-sizing: content-box;
}


.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: block;
  padding: 16px 0;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;

  background-color: #fb565a;
  border-radius: 3px;
  border: none;

  transition: all 0.3s;
  cursor: pointer;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);

  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.button--red {
  background-color: #fb565a;
}

.button--red:hover,
.button--red:focus {
  background-color: #e74246;
}

.button--red:active {
  background-color: #d7373b;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.button--green {
  background-color: #00ca74;
}

.button--green:hover,
.button--green:focus {
  background-color: #00bc6c;
}

.button--green:active {
  background-color: #00aa62;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.button--yellow {
  background-color: #efc84a;
}

.button--yellow:hover,
.button--yellow:focus {
  background-color: #eab534;
}

.button--yellow:active {
  background-color: #e5a722;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);

}
/* Базовые стили (конец) */

/* Стили header (начало) */
.header {
  background-color: #eeeeee;
  border: 1px solid transparent;
}

.nav {
  display: flex;
  align-items: center;
  margin-top: 47px;
}

.nav__logo {
  width: 160px;
}

.nav__logo:hover,
.nav__logo:focus {
  opacity: 0.8;
}

.nav__logo:active {
  opacity: 0.3;
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav__list--main {
  width: 560px;
  margin-left: 201px;
}

.nav__list--secodary {
  width: 116px;
  margin-left: auto;
}
.nav__item {
  margin-left: 45px;
}
.nav__item:first-child {
  margin-left: 0;
}
.nav__list--secodary .nav__item {
  margin-left: 0;
}
.nav__link {
  display: block;
  text-align: center;

  padding: 15px 0 3px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
  color: #000;
}

.nav__link:hover,
.nav__link:focus {
  color: #fb565a;
}

.nav__link:active {
  color: rgba(0, 0, 0, 0.3);
}

.nav__link.active {
  border-bottom: 2px solid #fb565a;
}


.nav__link--basket::before {
  content: url(../img/basket-icon.svg);
  margin-right: 26px;
  opacity: 0.4;
}
/* Стили header (конец) */

/* Стили секции slider (начало) */
.slider {
  position: relative;
  border-top: 1px solid transparent;
  background-color: #eeeeee;
}

.slider__navigation {
  position: absolute;
  left: 50%;
  bottom: 103px;
  z-index: 100;

  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider__navigation .dot {
  position: relative;

  display: inline-block;
  box-sizing: content-box;
  width: 18px;
  height: 18px;
  padding: 8px;

  border-radius: 50%;
  cursor: pointer;
}

.slider__navigation .dot::after {
  content: "";

  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;

  width: 18px;
  height: 18px;

  background: #ffffff;

  border-radius: 50%;
}

.slider__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide {
  display: none;
  padding: 70px 0 80px 0;
}

.slide--first {
  background-image: url("../img/index/slide-1.png");
  background-repeat: no-repeat;
  background-position: 93% 2px;
}

.slide--second {
  background-image: url("../img/index/slide-2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slide--third {
  background-image: url("../img/index/slide-3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

#product-1:checked ~ .slider__list .slide:nth-child(1) {
  display: block;
}

#product-2:checked ~ .slider__list .slide:nth-child(2) {
  display: block;
}

#product-3:checked ~ .slider__list .slide:nth-child(3) {
  display: block;
}

#product-1:checked ~ .slider__navigation .dot--1::before,
#product-2:checked ~ .slider__navigation .dot--2::before,
#product-3:checked ~ .slider__navigation .dot--3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}
.slide__title {
  max-width: 523px;
  margin: 0;
  margin-bottom: 27px;

  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000;
}

.slide__text {
  max-width: 430px;
  margin: 0;
  margin-bottom: 41px;
}

.slide__btn {
  width: 240px;

}


.slide__btn:hover,
.slide__btn:focus {
  background-color: #e74246;
}

.slide__btn:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}
/* Стили секции slider (конец) */

/* Стили секции advantages (начало) */
.advantages {
  padding-top: 80px;
}
.advantages .container {
  border-bottom: 2px solid #efefef;
}

.advantages__list {
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 80px;
  list-style: none;
}

.advantages__item {
  flex-shrink: 0;
  flex-basis: 300px;
  margin: 0 100px 0 0;
}
.advantages__item:last-child {
  margin-right: 0;
}
.advantage__img {
  margin-bottom: 18px;
}
.advantage__title {
  margin: 0;
  margin-bottom: 18px;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.25;
  color: #000;
}
.advantage__text {
  width: 260px;
  margin: 0;
  margin-bottom: 33px;
}
.advantage__button {
  width: 160px;
}
/* Стили секции advantages (конец) */

/* Стили секции studio (начало) */
.studio {
  padding-top: 40px;
}
.studio .container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 49px;

  border-bottom: 2px solid #efefef;
}
.about {
  width: 100%;
  flex-basis: 650px;
  padding-top: 35px;
}
.about__slogan {
  margin: 0;
  margin-bottom: 34px;
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  color: #000;
}
.about__subtitle {
  margin-top: 0;
  margin-bottom: 39px;
}
.about__title {
  margin: 0;
  margin-bottom: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}
.about__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.about__item {
  position: relative;
  margin-bottom: 25px;
  padding-left: 36px;
}
.about__item::before {
  content: "";
  position: absolute;
  display: block;
  width: 25px;
  height: 2px;
  top: 50%;
  left: 0;

  background: #d7373b;
}
.indicators {
  width: 100%;
  flex-basis: 360px;
}
.indicators__logo {
  margin-bottom: 30px;
}
.indicators__title {
  margin: 0;
  margin-bottom: 29px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  color: #000;
}
.indicators__list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}
.indicators__item {
  width: 105px;
  margin-right: 14px;
  text-align: left;
  font-size: 45px;
  font-weight: 700;
  font-family: "Roboto";
  color: #000;
}
.indicators__item .percent {
  font-size: 26px;
}
.indicators__item span {
  display: block;
  margin-top: 10px;

  font-size: 16px;
  font-weight: normal;
  line-height: 1.13;
  color: #283136;
}
/* Стили секции studio (конец) */

/* Стили секции partners (начало) */
.partners {
  padding: 45px 0 0;
  margin-bottom: 60px;
}
.partners .container {
  padding-bottom: 49px;

  border-bottom: 2px solid #efefef;
}
.partners__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;

  list-style: none;
}
.partners__item {
  position: relative;
  width: 100%;
  flex-basis: 210px;
  padding: 0 45px;
  box-sizing: content-box;
}
.partners__item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 2px;
  height: 52px;
  background-color: #cccccc;
  opacity: 0.3;
}
.partner {
  opacity: 0.2;
  transition: opacity 0.3s;
}

.partner:hover,
.partner:focus {
  opacity: 1;
}

.partner:active {
  opacity: 0.1;
}
/* Стили секции partners (конец) */

/* Стили секции footer (начало) */
.footer__contact {
  position: relative;


}
.information {
  position: absolute;
  top: 50%;
  left: 21%;
  transform: translate(-50%,-50%);
  z-index: 9980;
  width: 319px;
  padding: 51px 50px 47px 47px;
  background-color: #fff;
}
.information__title {
  margin: 0;
  margin-bottom: 23px;

  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.information__addr,
.information__tel {
  margin: 0;

  font-size: 16px;
  line-height: 18px;
  color: #666666;
}
.information__addr {
  width: 96%;
  margin-bottom: 17px;
}
.information__tel a {
  color: inherit;
}
.information__tel {
  margin-bottom: 38px;
}

.information__button {
  width: 100%;
}
.footer__map {
  width: 100%;
  min-height: 416px;
}

.social {
  padding: 69px 0;
}
.social .container {
  display: flex;
}
.social__list {
  display: flex;
  flex-basis: 246px;
  align-items: center;
  padding: 0;
  margin: 0;

  list-style: none;
}
.social__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 79px;
  height: 79px;
  margin-right: 12px;
  padding: 0;

  border-radius: 50%;
  background: #e1e1e1;
}
.social__button:hover,
.social__button:focus {
  background-color: #e74246;
}
.social__button:active {
  background-color: #d7373b;
}
.social__button:active svg {
  opacity: 0.3;
}
.social__text {
  margin: 0;
  margin-left: 127px;
  padding-top: 7px;
  font-size: 36px;
  font-weight: bold;
  line-height: 36px;
  color: #000000;
}
.social__text span {
  display: block;
  margin-top: 10px;

  font-size: 16px;
  font-weight: normal;
  line-height: 1.38;
  color: #444444;
}

/* Стили секции footer (конец) */

/* Стили страницы каталога (начало) */
.catalog-page .header__title {
  margin: 72px 0 105px;
  font-size: 55px;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  color: #000;
}
.catalog-page > .container {
  display: flex;
  justify-content: space-between;
  padding-top: 57px;
}

.filter {
  width: 100%;
  max-width: 261px;
  flex-basis: 261px;
}

.filter ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter__form .group {
  border: none;
  padding: 0;
  margin: 0;
  margin-bottom: 52px;
}

/* .filter__form .group:last-child {
  margin: 0;    почему не работает???
} */

.group__title {
  margin: 0;
  margin-bottom: 15px;

  font-size: 18px;
  font-weight: bold;
  line-height: 1.67;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #000000;
}

.group__item {
  margin-bottom: 15px;
}
.group__list .group__item:last-child {
  margin-bottom: 0;
}
/* Фильтр цены(начало) */
.group__title--range {
  margin-bottom: 48px;
}

.range-filter {
  width: 260px;
}

.range-controls {
  position: relative;

  height: 41px;
  margin-bottom: 14px;
  padding-top: 39px;
  padding-bottom: 39px;
  padding-right: 20px;
  padding-left: 20px;

  background-color: #f1f1f1;

  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  position: relative;
  width: 73%;
  height: 2px;

  background: #00ca74;
  cursor: pointer;
}

.bar .toggle {
  box-sizing: content-box;
  position: absolute;
  top: -8px;
  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
}

.range-controls .toggle-min {
  left: 0px;
}

.range-controls .toggle-max {
  right: 0;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;

  vertical-align: middle;
  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 80px;
  padding: 12px 16px;
  margin-left: 10px;

  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;

  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}
/* Фильтр цены(конец) */

/* Фильтр сетка (начало) */
.filter__radio + .filter__label {
  position: relative;
  padding-left: 50px;
  cursor: pointer;
}

.filter__radio:disabled + .filter__label {
  cursor: default;
}

.filter__radio + .filter__label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);

  width: 25px;
  height: 25px;

  border: 2px solid #4d4d4d;
  border-radius: 50%;
  opacity: 0.4;
  transition: all 0.3s;
}

.filter__radio:checked + .filter__label::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 8.3px;
  transform: translateY(-50%);

  width: 9px;
  height: 9px;

  border-radius: 50%;
  background-color: #4d4d4d;
  opacity: 0.4;
  transition: all 0.3s;
}

.filter__radio:not(:disabled) + .filter__label:hover::before,
.filter__radio:not(:disabled):focus + .filter__label::before,
.filter__radio:not(:disabled) + .filter__label:hover::after,
.filter__radio:not(:disabled):focus + .filter__label::after {
  opacity: 1;
}

.filter__radio:disabled + .filter__label {
  opacity: 0.3;
}
/* Фильтр сетка (конец) */

/* Фильтр особенности (начало) */
.filter__checkbox + .filter__label {
  position: relative;
  padding-left: 50px;
  cursor: pointer;
}
.filter__checkbox:disabled + .filter__label {
  cursor: default;
}
.filter__checkbox + .filter__label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);

  width: 23px;
  height: 23px;

  border: 2px solid #4d4d4d;
  border-radius: 5px;

  opacity: 0.4;
}

.filter__checkbox:checked + .filter__label::after {
  content: "";
  position: absolute;
  left: 12px;
  top: -5px;
  transform: translateY(-50%);

  width: 11px;
  height: 22px;
  border-right: 4px solid #4d4d4d;
  border-bottom: 4px solid #4d4d4d;
  transform: rotate(45deg);
  box-shadow: 2px 0 0 0 white, inset -2px 0 0 0 white;

  opacity: 0.4;
}

.filter__checkbox:not(:disabled) + .filter__label:hover::before,
.filter__checkbox:not(:disabled):focus + .filter__label::before,
.filter__checkbox:not(:disabled) + .filter__label:hover::after,
.filter__checkbox:not(:disabled):focus + .filter__label::after {
  opacity: 1;
}
.filter__checkbox:disabled + .filter__label {
  opacity: 0.3;
}
/* Фильтр особенности (начало) */

/* Фильтр кнопка (начало) */
.filter__button {
  width: 100%;
  border: none;
  background-color: #eeeeee;
  color: #000000;
  cursor: pointer;
}

.filter__button:hover,
.filter__button:focus{
  background-color: #dfdfdf;
}

.filter__button:active {
  color: rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d5d5d5;
}
/* Фильтр кнопка (конец) */


.catalog {
  width: 100%;
  max-width: 760px;
  flex-basis: 760px;
}

.sorting {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-items: center;
  margin-bottom: 59px;
  text-transform: uppercase;
}

.sorting__title {
  margin: 0;
}

.sorting__group {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;

  font-size: 14px;
}
.sorting__item .sorting__value {
  margin-right: 26px;
  opacity: 0.3;
}
.sorting__item:last-child .sorting__value {
  margin-right: 0;
}
.sorting__item .sorting__value:hover,
.sorting__item .sorting__value:focus{
  opacity: 0.6;
}
.sorting__item .sorting__value:active ,
.sorting__item.active .sorting__value {
  opacity: 1;
}

.sorting__item--range {
  margin-left: 48px;
}

.sorting__icon--up {
  margin-left: 18px;
  transform: rotate(180deg);
}

.products__list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 27px;
  padding: 0;

  list-style: none;

}
.product {
  position: relative;

  width: 100%;
  max-width: 360px;
  flex-basis: 360px;
  height: 100%;
  text-align: center;
  margin-bottom: 33px;
  padding-top: 40px;
}
.product:hover .product__card,
.product:focus .product__card {
  opacity: 1;
}
.product:hover::before {
  opacity: 1;
}
.product__img {
  width: 100%;
  position: relative;
}

.product::before {
  content: url(../img/catalog/browser.png);
  position: absolute;
  top: 0;
  z-index: 1;
  opacity: 0.12;
  transition: opacity 0.3s;
}

.product__card {
  position: absolute;
  bottom: 0;
  z-index: 9999;
  opacity: 0;
  width: 100%;
  padding: 35px 58px 43px;
  background-color: #eee;
  transition: opacity 0.3s;
}
.product__title {
  margin: 0 0 10px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.67;
  text-transform: uppercase;
  color: #000000;
}

.product__title:hover,
.product__title:focus {
  color: #fb565a;
}

.product__title:active {
  color: rgba(0, 0, 0, 0.3);
}

.product__description {
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 1.13;
  color: #666666;
}

.product__button {
  background-color: #fb565a;
  width: 100%;
}

.product__button:hover,
.product__button:focus {
  background-color: #e74246;
}

.product__button:active {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
}

.catalog__navigation .navigation {
  display: flex;
  margin: 0;
  margin-bottom: 60px;
  padding: 0;

  list-style: none;
}
.navigation .navigation__link {
  display: block;
  padding: 20px;
  margin: 0 10px 0 0;

  font-size: 13.5px;
  font-weight: 500;
  line-height: 0.5;
  text-transform: uppercase;
  border: 3px solid #dbdbdb;
  background-color: #eeeeee;
}

.navigation__link:not(.active):hover,
.navigation__link:not(.active):focus {
  background-color: #dfdfdf;

}
.navigation__link:not(.active):active {
  color: rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d5d5d5;
}

.navigation__link.active {
  background-color: #fff;
  cursor: default;
}

.navigation__link.navigation__link--next {
  padding: 20px 78px;
}
/* Стили страницы каталога (конец) */

/* Стили попапа (начало) */
.popup {
  position: fixed;
  left: 50%;
  bottom: 180px;
  transform: translateX(-50%);
  z-index: 9999;

  display: none;
  width: 100%;
  max-width: 960px;
  padding: 73px 100px;

  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0px 20px 40px 0 rgba(0, 1, 1, 0.75);
}
.popup.active {
  display: block;
}

.popup__title {
  margin: 0;
  margin-bottom: 50px;
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  color: #000000;
}

.popup__group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 36px;
}
.popup__label,
.popup__imput,
.popup__textarea {
  display: block;
  box-sizing: border-box;
}
.popup__label {
  width: 100%;
  max-width: 360px;
  margin-bottom: 12px;
  font-weight: bold;
  line-height: 18px;
  color: #000000;
}
.popup__imput {
  width: 100%;
  max-width: 360px;
  margin-top: 12px;
  padding: 15px;

  box-sizing: border-box;
  border: solid 2px #d7dcde;
}

.popup__textarea {
  width: 100%;
  height: 118px;
  margin-top: 12px;
  padding: 15px;
  margin-bottom: 47px;
  border: solid 2px #d7dcde;

  resize: none;
}
.popup__submit {
  width: 260px;
}
.popup__close {
  position: absolute;
  top: 30px;
  right: 30px;

  background: transparent;
  border: none;
  cursor: pointer;
}
.popup__close svg {
  opacity: 0.3;
}
.popup__close:hover svg,
.popup__close:focus svg {
  opacity: 1;
}

.popup__close:active svg {
  opacity: 0.1;
}
.popup__textarea:hover,
.popup__imput:hover {
  border: solid 2px #b4b9bb;
}
.popup__textarea:focus,
.popup__imput:focus {
  color: #000;

  outline: none;
  border: solid 2px #000000;
}

.popup__textarea:invalid,
.popup__imput:invalid {
  color: #e74246;

  border: solid 2px #e74246;
  background: #fff;
}
/* Стили попапа (конец) */
