@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url(fonts/roboto.woff2) format("woff2"), url(fonts/roboto.woff) format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"), url(fonts/robotomedium.woff2) format("woff2"), url(fonts/robotomedium.woff) format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url(fonts/robotobold.woff2) format("woff2"), url(fonts/robotobold.woff) format("woff");
}

/* Базовые стили (начало) */
body {
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  font-family: "Roboto", Arial, sans-serif;
  color: #283136;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  text-transform: uppercase;
  padding-top: 19px;
  padding-right: 39px;
  padding-bottom: 19px;
  padding-left: 39px;

  color: #fff;
}
.button:active {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  color: rgba(255, 255, 255, 0.3);
}

.button--red {
  background-color: #fb565a;
}
.button--red:hover,
.button--red:focus {
  background-color: #e74246;
}
.button--red:active {
  background-color: #d7373b;
}

.button--green {
  background-color: #00ca74;
}
.button--green:hover,
.button--green:focus {
  background-color: #00bc6c;
}
.button--green:active {
  background-color: #00aa62;
}

.button--yellow {
  background-color: #efc84a;
}
.button--yellow:hover,
.button--yellow:focus {
  background-color: #eab534;
}
.button--yellow:active {
  background-color: #e5a722;
}
/* Базовые стили (конец) */

/* Стили header (начало) */
.header {
  padding-top: 49px;
  padding-bottom: 18px;

  background-color: #eeeeee;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo:hover,
.header__logo:focus {
  opacity: 0.8;
}

.header__logo:active {
  opacity: 0.3;
}

.nav__list {
  display: flex;
  list-style: none;
}

.nav__item {
  margin-right: 47px;
}

.header a {
  display: inline-block;
  padding: 10px 0;

  font-weight: 500;
  color: #000;
  text-transform: uppercase;
}

.header a:hover,
.header a:focus {
  color: #fb565a;
}

.header a:active {
  color: rgba(0, 0, 0, 0.3);
}

.header a.active {
  border-bottom: 2px solid #fb565a;
}

.header__button::before {
  content: url(../img/basket-icon.svg);
  margin-right: 26px;
}
/* Стили header (конец) */

/* Стили секции slider (начало) */
.slider {
  background-color: #eeeeee;
}

.slider .container {
  position: relative;
}

.slider__navigation {
  position: absolute;
  bottom: 96px;
  display: flex;
  justify-content: center;
  width: 100%;
}
.slider__navigation .dot {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  margin-right: 17px;
  background-color: #fff;
  border-radius: 50%;
}
.slider__navigation .dot:last-child {
  margin-right: 0;
}
.dot.active span {
  position: absolute;
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 3px solid #c1c1c1;
}
.dot input[type="radio"] {
  position: absolute;
  opacity: 0;
}

.slider__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.slide {
  display: none;
  padding-top: 67px;
  padding-bottom: 80px;
  background-position: right top;
  background-size: contain;
  background-repeat: no-repeat;
}

.slide.active {
  display: block;
}

.slide--first {
  background-image: url(../img/index/slide-1.png);
}

.slide--second {
  background-image: url(../img/index/slide-2.png);
}

.slide--third {
  background-image: url(../img/index/slide-3.png);
}

.slide__title {
  width: 100%;
  max-width: 515px;

  margin: 0;
  font-size: 55px;
  font-weight: 500;
  line-height: 1;
  color: #000;
}

.slide__text {
  width: 100%;
  max-width: 409px;
  margin-top: 28px;
  margin-bottom: 42px;
}

.slide__btn {
  background: #fb565a;
  padding-left: 53px;
  padding-right: 53px;
  color: #fff;
}

.slide__btn:hover,
.slide__btn:focus {
  background: #e74246;
}

.slide__btn:active {
  background-color: #d7373b;
}
/* Стили секции slider (конец) */

/* Стили секции advantages (начало) */
.advantages .container {
  padding-top: 80px;
  padding-bottom: 80px;
  border-bottom: 2px solid #efefef;
}

.advantages__list {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
}

.advantages__item {
  width: 100%;
  max-width: 300px;
}
.advantage__title {
  margin-top: 26px;

  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.25;
  color: #000;
}
.advantage__text {
  margin-top: 26px;
  margin-bottom: 35px;
}
/* Стили секции advantages (конец) */

/* Стили секции studio (начало) */
.studio .container {
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
  padding-bottom: 80px;
  border-bottom: 2px solid #efefef;
}
.studio__about {
  width: 100%;
  max-width: 650px;
}
.about__title {
  font-size: 45px;
  font-weight: 500;
  line-height: 1;
  color: #000
}
.about__subtitle {
  margin-top: 35px;
  margin-bottom: 47px;
}
.about__list-title {
  font-weight: bold;
  color: #000000;
}
.about__list {
  list-style: none;
  padding: 0;
}
.about__item {
  margin-top: 25px;
}
.about__item::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 2px;
  background: #d7373b;
  vertical-align: middle;
  margin-right: 15px;
}
.studio__indicators {
  text-align: center;
}
.indicators__title {
  margin-top: 50px;
  font-weight: bold;
  color: #000;
}
.indicators__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}
.indicators__item {
  width: 105px;
  font-size: 45px;
  font-weight: bold;
  color: #000;
}
.indicators__item span {
  display: block;
  font-size: 16px;
  font-weight: normal;
  text-align: left;
  line-height: 1.13;
  color: #283136;
}
/* Стили секции studio (конец) */

/* Стили секции partners (начало) */
.partners .container {
  padding-top: 46px;
  padding-bottom: 44px;
  border-bottom: 2px solid #efefef;
}

.partners__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

.partner {
  opacity: 0.2;
}

.partner:hover,
.partner:focus {
  opacity: 1;
}

.partner:active {
  opacity: 0.1;
}
/* Стили секции partners (конец) */




.contact__map {
  width: 100%;
  height: 416px;
}
